<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume Radar</title>
    <link rel="icon" type="image/x-icon" href="/ResumeRadar/Assets/RR LOGO.png">
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Bootstrap minified CSS link-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css"
      integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="secondary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img
              src="/ResumeRadar/Assets/RR LOGO.png"
              alt="Logo"
              width="60"
              height="60"
            />
          </a>
          <h5 class="m-5" style="max-width: 20rem;">RESUME RADAR</h5>
        <!-- Conditionally render links -->
        <!-- {{#if logged_in}} -->
        <button class="navbar-toggler btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-label="Toggle navigation">
          <span class="navbar-toggler-header">MENU</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
           <li class="nav-item">
            <a class="nav-link" href="/">HOMEPAGE
            </a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="#">DASHBOARD</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="#">RESUME REVIEW</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="#">SETTINGS</a>
         </li>
          </ul>
         </div>
         </div>
        </nav>
      </div>
    </header>
      <section class="main-section m-2">
        <h3>Dashboard</h3>
        <div class="add-application d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="/application/new">
            <button class="btn primary-btn me-md-2">
                + Add new application
            </button>
        </a>
        </div>
        <div>
          {{#if applications.length}} 
          {{#each applications as |application|}}
          <table class="table">
            <thead>
                <tr>
                  <th scope="col">Job Title</th>
                  <th scope="col">Company</th>
                  <th scope="col">Status</th>
                  <th scope="col">Location</th>
                  <th scope="col">Company Website?</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td><a href="/application/{{id}}">
                        <span class="post-title m-2">
                            {{job.title}}
                        </span>
                    </a></td>
                    <td>
                        <span>
                            {{job.company}}
                        </span>
                    </td>
                    <td>
                        <span class="post-creator">
                            {{job.status}}
                        </span>
                    </td>
                    <td>
                        <span>
                            {{job.location}}
                        </span>
                    </td>
                    <td>
                        <span>
                            {{job.url}}
                        </span>
                    </td>
                  </tr>
            </tbody>
            </table>
          {{/each}}
          {{else}}
            <div><p>You're not tracking any applications yet!</p></div>
          {{/if}}
        </div>
  
      </section>
    </body>
  </html>
