<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume Radar</title>
    <link rel="icon" type="image/x-icon" href="/ResumeRadar/Assets/RR LOGO.png">
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Bootstrap minified CSS link-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css"
      integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG"
      crossorigin="anonymous"
    />
  </head>
  <body>
      <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="secondary">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img
                src="/ResumeRadar/Assets/RR LOGO.png"
                alt="Logo"
                width="60"
                height="60"
              />
            </a>
            <h5 class="m-5" style="max-width: 20rem;">RESUME RADAR</h5>
          <!-- Conditionally render links -->
          <!-- {{#if logged_in}} -->
          <button class="navbar-toggler btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-label="Toggle navigation">
            <span class="navbar-toggler-header">MENU</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
             <li class="nav-item">
              <a class="nav-link" href="/">HOMEPAGE
              </a>
             </li>
             <li class="nav-item">
              <a class="nav-link" href="#">DASHBOARD</a>
             </li>
             <li class="nav-item">
              <a class="nav-link" href="#">RESUME REVIEW</a>
             </li>
             <li class="nav-item">
              <a class="nav-link" href="#">SETTINGS</a>
           </li>
            </ul>
           </div>
           </div>
          </nav>
        </div>
      </header>
      <!-- {{else}} -->
      <!-- Conditionally render login -->
      <main>
      <section class="text-center p-2">
        <form>
          <h4>Edit Application</h4>
            <div class="container d-grid gap-2 col-6" role="group" aria-label="">
                <div class="form-group">
                    <label for="jobTitle" class="form-label mt-4">Choose a Job Title</label>
                    <select class="form-select" id="jobTitle" name="jobTitles">
                        <option value="">Please Choose One...</option>
                        <option>Front-end Software Developer</option>
                        <option>Back-end Software Developer</option>
                        <option>Full-stack Software Developer</option>
                        <option>Software Engineer</option>
                        <option>Network Administrator</option>
                        <option>Web Developer</option>
                        <option>Systems Analyst</option>
                        <option>Quality Assurance Engineer</option>
                        <option>Database Administrator</option>
                        <option>PHP Developer</option>
                        <option>Software Test Engineer</option>
                        <option>Security Engineer</option>
                        <option>Java Developer</option>
                        <option>Hardware Engineer</option>
                        <option>Python Developer</option>
                        <option>Lead Developer</option>
                        <option>Mobile Developer</option>
                        <option>Development Operations Engineer</option>
                        <option>Chief Technology Officer</option>
                        <option>Software Architect</option>
                        <option>Other
                        {{#if option="Other"}}
                        <input type="text" class="form-control" placeholder="Please specify Job Title" id="otherJobTitle">
                        {{/if}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="company" class="form-label mt-4">Hiring Company</label>
                    <select class="form-select" id="company">
                        <option value="">Please Choose One...</option>
                        <option>Google</option>
                        <option>Apple</option>
                        <option>Facebook</option>
                        <option>Qualcomm</option>
                        <option>BAE Systems</option>
                        <option>Intuit</option>
                        <option>GoFundMe</option>
                        <option>AlwaysAI</option>
                        <option>Other
                        {{#if option="Other"}}
                        <input type="text" class="form-control" placeholder="Please specify Job Company" id="otherCompany">
                        {{/if}}
                    </option>
                    </select>
                </div>
                <div class="form-block">
                    <label for="applicationStatus" class="form-label mt-4">Application Status</label>
                    <select class="form-select" id="applicationStatus">
                        <option value="">Please Choose One...</option>
                        <option>Not Applied</option>
                        <option>Applied and awaiting response</option>
                        <option>Scheduled first interview</option>
                        <option>Scheduled second interview</option>
                        <option>I am no longer interested</option>
                        <option>Company did not hire me</option>
                        <option>Other
                        {{#if option="Other"}}
                        <input type="text" class="form-control" placeholder="Please specify Job Company" id="otherCompany">
                        {{/if}}
                    </option>
                    </select>
                <div class="form-block">
                    <label for="jobLocation" class="form-label mt-4">Job Location</label>
                    <input class="form-control" id="jobLocation" placeholder="Enter job location here"></input>
                </div>
                <div class="form-block">
                    <label for="companyURL" class="form-label mt-4">Company Website</label>
                    <input class="form-control" id="companyURL" placeholder="Copy and Paste company website here"></input>
                </div>
                <div class="form-block">
                    <label for="textarea" class="form-label mt-4">Job Description</label>
                    <textarea class="form-control" id="textarea" rows="4" placeholder="Copy and Paste job description here"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary m-4" href="#">
                Submit
            </button>
            <button type="delete" class="btn btn-delete btn-primary m-4" id="delete-application-btn">
                DELETE
            </button>
        </form>
    </section>
      </main>
    <!-- Bootstrap JavaScript Bundle link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
<script src=""></script>
<script src=""></script>