 <div class="text-center p-2">
      <div class="btn-group-vertical d-grid gap-2 col-6 mx-auto" role="group" aria-label="Vertical button group">
        <a href="" type="button" class="btn btn-primary m-2 rounded-pill">
          DASHBOARD
        </a>
        <a href="" type="button" class="btn btn-primary m-2 rounded-pill">
          RESUME REVIEW
        </a>
        <a href="" type="button" class="btn btn-primary m-2 rounded-pill">
          ADD NEW APPLICATION
        </a>
        <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">Example textarea</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
      </div>
    </div>