<div class="container">
    <div class="col-md-6"></div>
        <h2>Resources</h2>

        <h3>Links to popular job application websites</h3>
            <ul>
                <li><a href="https://www.indeed.com">Indeed</a></li>
                <li><a href="https://www.glassdoor.com">Glassdoor</a></li>
                <li><a href="https://www.linkedin.com">Linked In</a></li>
                <li><a href="https://www.ziprecruiter.com">Zip Recruiter</a></li>
            </ul>

        <h3>Ask AI over at chat GPT to do a grammar check of your application materials</h3>
            <div>
                <a href=https://chat.openai.com>Chat GPT</a>
            </div>
    </div>
</div>

