<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Resume Radar</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <form class="form signup-form">
    <legend>Sign up for Resume Radar</legend>
    <div class="form-group" class="mb-3">
      <label for="name-signup">Name:</label>
      <input class="form-control" type="text" id="name-signup" required/>
    </div>
    <div class="form-group" class="mb-3">
      <label for="email-signup">Email:</label>
      <input class="form-control" type="text" id="email-signup" required/>
    </div>
    <div class="form-group" class="mb-3">
      <label for="password-signup">Password:</label>
      <input class="form-control" type="password" id="password-signup" placeholder="Enter a password between 8 and 20 characters here" minlength="8" maxlength="20" onkeyup='verifyPassword();' required/>
    </div>
    <div class="form-group" class="mb-3">
      <label for="confirm-password-signup">Confirm Password:</label>
      <input class="form-control" type="password" id="confirm-password-signup" onkeyup='verifyPassword();' required/>
      <span id="message" ></span>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit" id="submit-btn">Sign Up</button>
    </div>
  </form>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="../public/js/signup.js"></script>

</html>