<form class="form signup-form">
    <legend>Sign up for Resume Radar</legend>
    <div class="form-group mb-3">
      <label for="name-signup">Name:</label>
      <input class="form-control" type="text" id="name-signup" required/>
    </div>
    <div class="form-group mb-3">
      <label for="email-signup">Email:</label>
      <input class="form-control" type="text" id="email-signup" required/>
    </div>
    <div class="form-group mb-3">
      <label for="password-signup">Password:</label>
      <input class="form-control" type="password" id="password-signup" placeholder="Enter a password between 8 and 20 characters here" minlength="8" maxlength="20" onkeyup='verifyPassword();' required/>
    </div>
    <div class="form-group mb-3">
      <label for="confirm-password-signup">Confirm Password:</label>
      <input class="form-control" type="password" id="confirm-password-signup" onkeyup='verifyPassword();' required/>
      <span id="message" ></span>
    </div>
    <div class="form-group mb-3">
      <button class="btn btn-primary btn-block" type="submit" id="submit-btn">Sign Up</button>
    </div>
  </form>

<script src='./js/signup.js'></script>
